*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    }
}
body{
    min-height: 100vh;
    width:100vw;
    background-image: url("https://i.postimg.cc/XvLNsdpv/1030PM.avif");
    background-size:cover;
    position:relative;
}
.container{
    display:flex;
    justify-content:end;
    position: relative;
}
.box{
    margin:3%;
    padding:2%;
    color:rgb(6, 34, 6);
    height:20%;
    width:50%;
    border: 1px;
    box-shadow: 0px 0px 1px #000;
    font-size:170%;
    line-height: 150%;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 1s;
}
.box:hover{
        transform:translateX(-70%);
        box-shadow: 0px 0px 70px #000;
}
.footer {
     width:10%;
     min-height:100vh;
     display:flex;
     justify-content:end;
     align-items:end;
}
.btn{
    margin:10%;
    padding:5%;
    color: #000;
    text-decoration: none;
    background:none;
    border: 1px solid black;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
}
.btn:hover{
    transform:scale(1.3);
}
