*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("https://i.postimg.cc/2SkJWx9j/hand-tree.avif");
    background-position: center;
    background-size: cover;
    position: relative;
    display:grid;
}   
nav{
    margin-top:5px;
    padding: 2% 6%;
    display: flex;
    justify-content: center;
    align-items: start;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: end;
}
.nav-links ul li{
    list-style: none;
    padding: 8px 16px;
    position: relative;
    display:inline-block;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background-color: #f44336;
    margin: auto;
    display: block;
}
.nav-links ul li:hover::after{
    width:100%;
    transition-duration: 0.5s;
}
.content{
    width:90%;
    margin:auto;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}
.content h1{
    color: #fff;
    font-size: 50px;
}
.content h2{
    color: #fff;
    font-size:30px;
}

.content p{
    color: #fff;
    font-size: 16px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size:13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top:50px;
    transition-property: all;
    transition-duration:0.3s;
}
.hero-btn:hover{
     transform: scale(1.5);
    transition: 0.5s;
    box-shadow: 10px 0px 40px #fff;
}
.main{
    width:80%;
    margin: auto;
    text-align: center;
    padding: 100px 10px 100px 10px;
}
.column{
    color:black;
    font-weight: 300px;
    height:80vh;
    width:100vw;
    background:url("https://i.postimg.cc/HkqHGDhC/water-4.avif");
    background-size: cover;
    padding: 100px 10px 100px 10px;
    margin: auto;
    margin-left:20px;
    margin-right:20px;
    gap:10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    transition-property: all;
    transition-duration:1.2s;
    transition-delay: 0.1s;
}
.column:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 30px#000;
    transition: 1s ease-in;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    padding-top:30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.row{
    margin: 5% 20% 5% 20%;
    display:flex;
    justify-content: space-between;
    transition-property: all;
    transition-duration: 2s;
}
.row:hover{
    transform:scale(2s);

}
.one{
    padding-top:10px;
    color:rgb(15, 145, 15);
    font-size: 22px;
}
.box{
    display: flex;
    justify-content: center;
    border:solid transparent;
    transition: all;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}
.box:hover{
    transform:skew(35deg);
}
