*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    width:100vw;
    background-image: url("https://i.postimg.cc/MTWyFhTC/bn.avif");
    background-position:center;
    background-size:cover;
    position:relative;
}
h1{
    color:rgb(103, 103, 103);
    font-size:100px;
}
.box{
    margin:50px;
    padding:85px;
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:end;
    border:2px solid transparent;
    gap:10px;
}
.box h2{
    font-weight: 300;
    color:rgb(93, 91, 91);
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
}
.box a{
    color:navy;
    font-size:25px;
    text-decoration: none;
}
.footer {
     width:10%;
     display:flex;
     justify-content:end;
     align-items:end;
}
.btn{
    margin:5%;
    padding:5%;
    color:black;
    text-decoration: none;
    background:none;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay:0.2s;
}
.btn:hover{
    transform:scale(1.3);
}
