  *{ 
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("https://i.postimg.cc/wB7FB3SJ/omg.avif");
    background-position: center;
    background-size: cover;
    position: relative;
    display:grid;
}   
.content{
    width:90%;
    margin:auto;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}
.content h1{
    color: #fff;
    font-size:40px;
}
.content p{
    color: #fff;
    font-size: 22px;
    line-height: 50px;
}
.footer {
     width:10%;
     display:flex;
     justify-content:end;
     align-items:end;

}
.btn{
    margin:10%;
    padding:5%;
    color:black;
    text-decoration: none;
    background:none;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
}
.btn:hover{
    transform:scale(1.3);
}
