*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    width:100vw;
    background-image: url("https://i.postimg.cc/bN955j31/ty.avif");
    background-position:center;
    background-size:cover;
    position:relative;
}
.name{
    margin-right:50px;
    font-family:'Times New Roman', Times, serif;
    padding-top: 800px;
    font-size: 18px;
    color:rgba(255, 228, 196, 0.516);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-between;
}
.footer {
     margin:10px;
     width:10%;
     min-height:100vh;
     width:100vw;
     display:flex;
     justify-content:end;
     align-items:end;
}
.btn{
    margin:5%;
    padding:1%;
    color:#fff; 
    text-decoration: none;
    background:none;
    border: 1px solid black;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
    box-shadow: 0px 0px 5px black;
}
.btn:hover{
    transform:scale(1.3);
}
