*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
.container{
    min-height:100vh;
    width:100vw;
    background-image: url("https://i.postimg.cc/3wTVfxH9/air.avif");
    background-position: center;
    background-size: cover;
    position:relative;
    display: flex;
    align-items:start;
    justify-content: start;

}
.main{
    margin:50px;
    border:2px solid black;
    width:800px;
    height:400px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
    box-shadow: 20px 20px 10px white;
}
.main:hover{
    transform: translate(1000px);
    box-shadow: inset;
}
h1{
    color:aliceblue;
    font-size:50px;
}
p{
    font-size:25px;
    color: aliceblue;
    font-size:20px;
}
.footer {
     width:10%;
     min-height:100vh;
     width:100vw;
     display:flex;
     justify-content:end;
     align-items:end;
}
.btn{
    margin:5%;
    padding:1%;
    color:#fff; 
    text-decoration: none;
    background:none;
    border: 1px solid black;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
    box-shadow: 0px 0px 5px black;
}
.btn:hover{
    transform:scale(1.3);
}
